In [ ]:
# py -m venv myenv will create a virtual environment
# myenv\Scripts\activate will activate the virtual environment
# pip install pandas, numpy, matplotlib, seaborn, scikit-learn will install the given libraries as well as some additional libraries

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from warnings import filterwarnings
filterwarnings('ignore')

df = pd.read_csv('air quality data.csv')

print(df.head()) # top 5 rows and columns
print('\n')
print(df.shape) # gives total number of rows and columns
print('\n')
print(df.info()) # information about dataset
print('\n')
print(df.describe())  # summary of statistics
print('\n')
print(df.describe().T) # summary of statistics i.e, transpose of the original output
print('\n')
print(df.duplicated()) # to know the duplicate values for each row
print('\n')
print(df.duplicated().sum()) # to know duplicate values for overall dataset
print('\n')
print(df.isnull()) # to check missing values
print('\n')
df.dropna(subset='AQI', inplace=True) # drop the rows where 'AQI' has missing values
print(df.isnull().sum().sort_values(ascending=False))
print('\n')
print(df.shape) # updated rows and columns adter dropping 'AQI' null values
print('\n')
null_val = (df.isnull().sum()/df.isnull().count()*100).sort_values(ascending=False)
print(null_val) # numm values percentage

        City        Date  PM2.5  PM10     NO    NO2    NOx  NH3     CO    SO2  \
0  Ahmedabad  2015-01-01    NaN   NaN   0.92  18.22  17.15  NaN   0.92  27.64
1  Ahmedabad  2015-01-02    NaN   NaN   0.97  15.69  16.46  NaN   0.97  24.55
2  Ahmedabad  2015-01-03    NaN   NaN  17.40  19.30  29.70  NaN  17.40  29.07
3  Ahmedabad  2015-01-04    NaN   NaN   1.70  18.48  17.97  NaN   1.70  18.59
4  Ahmedabad  2015-01-05    NaN   NaN  22.10  21.42  37.76  NaN  22.10  39.33

       O3  Benzene  Toluene  Xylene  AQI AQI_Bucket
0  133.36     0.00     0.02    0.00  NaN        NaN
1   34.06     3.68     5.50    3.77  NaN        NaN
2   30.70     6.80    16.40    2.25  NaN        NaN
3   36.08     4.43    10.14    1.00  NaN        NaN
4   39.31     7.01    18.89    2.78  NaN        NaN


(29531, 16)


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29531 entries, 0 to 29530
Data columns (total 16 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   City        29531 non-null  object
 1   Date        29531 non-null  object
 2   PM2.5       24933 non-null  float64
 3   PM10        18391 non-null  float64
 4   NO          25949 non-null  float64
 5   NO2         25946 non-null  float64
 6   NOx         25346 non-null  float64
 7   NH3         19203 non-null  float64
 8   CO          27472 non-null  float64
 9   SO2         25677 non-null  float64
 10  O3          25509 non-null  float64
 11  Benzene     23908 non-null  float64
 12  Toluene     21490 non-null  float64
 13  Xylene      11422 non-null  float64
 14  AQI         24850 non-null  float64
 15  AQI_Bucket  24850 non-null  object
dtypes: float64(13), object(3)
memory usage: 3.6+ MB
None


              PM2.5          PM10            NO           NO2           NOx  \
count  24933.000000  18391.000000  25949.000000  25946.000000  25346.000000
mean      67.450578    118.127103     17.574730     28.560659     32.309123
std       64.661449     90.605110     22.785846     24.474746     31.646011
min        0.040000      0.010000      0.020000      0.010000      0.000000
25%       28.820000     56.255000      5.630000     11.750000     12.820000
50%       48.570000     95.680000      9.890000     21.690000     23.520000
75%       80.590000    149.745000     19.950000     37.620000     40.127500
max      949.990000   1000.000000    390.680000    362.210000    467.630000

                NH3            CO           SO2            O3       Benzene  \
count  19203.000000  27472.000000  25677.000000  25509.000000  23908.000000
mean      23.483476      2.248598     14.531977     34.491430      3.280840
std       25.684275      6.962884     18.133775     21.694928     15.811136
min        0.010000      0.000000      0.010000      0.010000      0.000000
25%        8.580000      0.510000      5.670000     18.860000      0.120000
50%       15.850000      0.890000      9.160000     30.840000      1.070000
75%       30.020000      1.450000     15.220000     45.570000      3.080000
max      352.890000    175.810000    193.860000    257.730000    455.030000

            Toluene        Xylene           AQI
count  21490.000000  11422.000000  24850.000000
mean       8.700972      3.070128    166.463581
std       19.969164      6.323247    140.696585
min        0.000000      0.000000     13.000000
25%        0.600000      0.140000     81.000000
50%        2.970000      0.980000    118.000000
75%        9.150000      3.350000    208.000000
max      454.850000    170.370000   2049.000000


           count        mean         std    min     25%     50%       75%  \
PM2.5    24933.0   67.450578   64.661449   0.04  28.820   48.57   80.5900
PM10     18391.0  118.127103   90.605110   0.01  56.255   95.68  149.7450
NO       25949.0   17.574730   22.785846   0.02   5.630    9.89   19.9500
NO2      25946.0   28.560659   24.474746   0.01  11.750   21.69   37.6200
NOx      25346.0   32.309123   31.646011   0.00  12.820   23.52   40.1275
NH3      19203.0   23.483476   25.684275   0.01   8.580   15.85   30.0200
CO       27472.0    2.248598    6.962884   0.00   0.510    0.89    1.4500
SO2      25677.0   14.531977   18.133775   0.01   5.670    9.16   15.2200
O3       25509.0   34.491430   21.694928   0.01  18.860   30.84   45.5700
Benzene  23908.0    3.280840   15.811136   0.00   0.120    1.07    3.0800
Toluene  21490.0    8.700972   19.969164   0.00   0.600    2.97    9.1500
Xylene   11422.0    3.070128    6.323247   0.00   0.140    0.98    3.3500
AQI      24850.0  166.463581  140.696585  13.00  81.000  118.00  208.0000

             max
PM2.5     949.99
PM10     1000.00
NO        390.68
NO2       362.21
NOx       467.63
NH3       352.89
CO        175.81
SO2       193.86
O3        257.73
Benzene   455.03
Toluene   454.85
Xylene    170.37
AQI      2049.00


0        False
1        False
2        False
3        False
4        False
         ...
29526    False
29527    False
29528    False
29529    False
29530    False
Length: 29531, dtype: bool


0


        City   Date  PM2.5   PM10     NO    NO2    NOx    NH3     CO    SO2  \
0      False  False   True   True  False  False  False   True  False  False
1      False  False   True   True  False  False  False   True  False  False
2      False  False   True   True  False  False  False   True  False  False
3      False  False   True   True  False  False  False   True  False  False
4      False  False   True   True  False  False  False   True  False  False
...      ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
29526  False  False  False  False  False  False  False  False  False  False
29527  False  False  False  False  False  False  False  False  False  False
29528  False  False  False  False  False  False  False  False  False  False
29529  False  False  False  False  False  False  False  False  False  False
29530  False  False  False  False  False  False  False  False  False  False

          O3  Benzene  Toluene  Xylene    AQI  AQI_Bucket
0      False    False    False   False   True        True
1      False    False    False   False   True        True
2      False    False    False   False   True        True
3      False    False    False   False   True        True
4      False    False    False   False   True        True
...      ...      ...      ...     ...    ...         ...
29526  False    False    False   False  False       False
29527  False    False    False   False  False       False
29528  False    False    False   False  False       False
29529  False    False    False   False  False       False
29530  False     True     True    True  False       False

[29531 rows x 16 columns]


Xylene        15372
PM10           7086
NH3            6536
Toluene        5826
Benzene        3535
NOx            1857
O3              807
PM2.5           678
SO2             605
CO              445
NO2             391
NO              387
Date              0
City              0
AQI               0
AQI_Bucket        0
dtype: int64


(24850, 16)


Xylene        61.859155
PM10          28.515091
NH3           26.301811
Toluene       23.444668
Benzene       14.225352
NOx            7.472837
O3             3.247485
PM2.5          2.728370
SO2            2.434608
CO             1.790744
NO2            1.573441
NO             1.557344
Date           0.000000
City           0.000000
AQI            0.000000
AQI_Bucket     0.000000
dtype: float64